<header>
  <h1>
    Mobmonitor
  </h1>
</header>

<div class="container">
  <p *ngIf="!lostConnection">last updated {{updated | date:'medium'}}</p>
  <p *ngIf="lostConnection" class="error">
    failed to update, last updated {{(updated | date:'medium') || 'never'}}
  </p>
  <a href="/CollectLogs" target="_blank" mat-raised-button color="primary">
    Download Logs
  </a>
  <mob-health-checks></mob-health-checks>

  <mob-diagnostics></mob-diagnostics>
</div>
